*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    /* box-sizing: border-box; */
}

body {
    background-color: white;
    color: white;
}

.home
{
    height: 100vh;
    width: 100%;
    background: url('/images/gulmarg.jpg') no-repeat center center/cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-attachment: fixed; */
    /* position: absolute; */
    /* margin-bottom: 4rem; */
}

.about{
    background: url('/images/about-home.jpg') no-repeat center center/cover;
}

.navigation
{

    width: 100%;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.6);
    position: relative;
}

.left img
{
    width: 31px;
    margin: 6px;
}

.navigation ul
{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation a
{
    color: white;
    transition: 0.5s ease-in;
}
.navigation a:hover
{
    color: #1752a0;

}

.btn
{
    width: 143px;
    height: 41px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #174B90;
    color: white;

}

.home-one
{
    top: 2%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(23, 75, 144,.7);
    /* background-color: rgba(224, 68, 11,.6); */
}

.home-one img
{
    width: 153px;
    height: 84px;
}

.home-one .left
{
    display: flex;
    align-items: center;
    justify-content:center;
}

.home-one .left img
{
    width: 57px;
    height: 54px;
}


.home-one .left p
{
    margin-bottom: 12px;
}

.home-main
{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.home-main h1
{
    font-size: 58px;
    margin-bottom: 10px;
}

.buttons
{
    margin-top: 32px;

}

.buttons .btn
{
    width: 150px;
    height: 44px;
    margin: 5px;
}

.btna
{
    background-color: transparent;
    border: 2px solid white;
}

.enquire
{
    margin: 0 auto;
    width: 90%;
    height: 74%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(23, 75, 144);
    position: absolute;
    top: 23%;
    left: 5%;  
    z-index: 5;  
    padding: 1rem 0;
    /* overflow-y: hidden; */
}

#close{
    margin-top: 6px;
    font-weight: 400;
    cursor: pointer;
}

.enquire form
{
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enquire button
{
    background-color: transparent;
    border: 2px solid white;
    width: 134px;
    height: 42px;
    margin-top: 36px;
}

form input
{
    width: 196px;
    height: 8px;
    border-radius: 43px;
    outline: none;
    border: none;
    padding: 16px;
}

form select{
    width: 226px;
    height: 37px;
    border-radius: 43px;
    outline: none;
    border: none;
    padding-left: 16px;
}

.enquire form p
{
    margin-top:7px;
    margin-left: 24px;
}

.best
{
    height: 100%;
    padding: 3rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

/* .besta{
    margin-top: 53rem;
} */

.best p{
    color: #102e55;    
    font-size: 22px;
    margin: 4px;
}

.best h1
{
    color: #08254d;
    font-size: 43px;
    font-weight: 700;
}

.best-main
{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card
{
    height: 460px;
    width: 360px;
    position: relative;
    border-radius: 24px;
}

.carda{
    background: url('/images/snow.jpg') no-repeat center center/cover;

}

.cardb{
    background: url('/images/gulmarg.jpg') no-repeat center center/cover;

}

.cardc{
    background: url('/images/tulip.jpg') no-repeat center center/cover;

}

.card-main
{
    width: 80%;
    height: 25%;
    background-color: white;
    color: black;
    position: absolute;
    bottom: 10%;
    left: 5%;
    padding: 12px;
    border-radius: 33px;
}

.stars
{
    position: absolute;
    bottom: 37%;
    z-index: 3;
    right: 13%;
    background-color: #174B90;
    padding: 4px 13px;
    border-radius: 13px;
    font-size: 14px;
}

.card-main p:nth-child(1)
{
    font-size: 14px;
    margin-top: 10px;
    color: #174B90;
}

.card-main h2
{
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 4px;
    font-size: 21px;
}

.card-main p:nth-child(2)
{
    font-size: 11px;
}

.pack{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 330px;
    border-radius: 37px;
    overflow-y: hidden;
    margin: 2rem 0;
}

.pack .left{
    height: 100%;
    width: 32%;
}

.pack .lefta{
    background: url('/images/dal\ lake2.jpg') no-repeat center center/cover;
}
.pack .leftb{
    background: url('/images/pahalgam.jpg') no-repeat center center/cover;
}
.pack .leftc{
    background: url('/images/pahalgam\ 2.jpg') no-repeat center center/cover;
}

.pack .right,.pack .mid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pack .mid{
    width: 44%;
    height: 100%;
    background-color: white;
}

.pack .right{
    width: 24%;
    height: 100%;
    background-color: #174B90;
    color: white;
}

.pack .mid
{
    color: #08254d;
    padding: 1rem;
}

.pack h1
{
    color: rgb(214, 208, 208);
}

.pack button
{
    border: 2px solid white;
    margin-top: 12px;
}

.pack .right p{
    color: white;
}

.pack b{
    color: rgb(193, 187, 187);
}
a{
    color: white;
}



@media only screen and (max-width: 1080px) {
    .navigation {
        width: 94%;
    }
    
    .home-main h1 {
        font-size: 37px;
    }
    
    
    .home-main p{
        display: none;
    }
    
    
    .enquire form {
        width: 90%;
    }
    
    form input {
        width: 114px;
        height: 18px;
    }
    
    .best h1 {
        color: #08254d;
        font-size: 33px;
    }
    
    .card {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    
    .pack{
        flex-direction: column;
        height: 100%;
    }
    
    .pack .mid {
        width: 100%;
        height: 100%;
        text-align: justify;
    }    
    
    .pack .left {
        height: 263px;
        width: 100%;
    }
    .pack .right {
        height: 163px;
        width: 100%;
    }

    form input {
        width: 177px;
        height: 3px;
    }
}

@media only screen and (max-width: 680px) {

    .home-one .left p {
        display: none;
    }

    .home-one img {
        width: 91px;
        height: 84px;
    }

    .home-one .left img {
        width: 75px;
        height: 54px;
    }

    .home-one {
        width: 100%;
        padding-top: 14px;
        overflow-y: hidden;
    }

    .home-one img {
        width: 96px;
        height: 59px;
    }

    .home-main h1 {
        font-size: 30px;
    }


    .enquire form {
        width: 90%;
        flex-direction: column;
    }

    form input {
        width: 183px;
        height: 12px;
        margin-top: -11px;
    }

    .enquire form p {
        margin-left: 19px;
    }

        
    .enquire
    {
        height: 88%;
        top: 13%;
    }
    .form-inside{
        margin-top: 26px;
    }

    .best h1 {
        font-size: 23px;
    }

    .card {
        height: 439px;
        width: 347px;
    }

    .mid h2{
        text-align: center;
    }

    .best h1 {
        font-size: 38px;
    }

    .best h1 {
        font-size: 25px;
    }
    
    .burger{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        left: 3%;
        top: 5%;
        z-index: 2;
    }

    .line{
        width: 28px;
        height: 2px;
        margin: 3px;
        background-color: white;
    }

    .search{
        display: none;
    }

    .home-one {
        width: 94%;
    }

    .navhid{
        display: none;
    }

    .navigation {
        width: 100%;
        background: #08254d;
        flex-direction: column;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .navigation ul{
        flex-direction: column;
    }

    .navigation li{
        margin: 9px;
    }

    .dropdown{
        display: none;
    }

    .home-one {
        width: 100%;
        justify-content: right;
    }

    .home-one .left {
        display: none;
    }

    .home-main {
        height: 85vh;
    }

    .home-main h1 {
        font-size: 30px;
        margin-top: 193px;
    }

    .enquire button {
        margin-top: 21px;
        margin-bottom: 3px;
    }

    .form-inside {
        margin-top: 18px;
    }

    form input {
        height: 4px;
    }

    .enquire form p {
        margin-top: 0px;
    }

    .enquire {
        height: 79%;
        top: 13%;
    }
}

@media only screen and (max-width: 460px) {

    .home-main h1 {
        font-size: 21px;
    }

    .best h1 {
        font-size: 22px;
    }

    .card {
        height: 414px;
        width: 308px;
    }

    .home {
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    }

    .best p {
        color: #102e55;
        font-size: 15px;
    }

    .mid h2 {
        text-align: center;
        font-size: 18px;
    }
}