.contact-us{
    background-color: rgb(19, 16, 16);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(170, 168, 168);
}

p{
    margin-bottom: 15px;
    font-size: 25px;
}

.contact-left{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-right{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.contact-us img{
    width: 80%;
    height: 70%;
}

@media only screen and (max-width: 860px) {

    .contact-us{
        flex-direction: column;
        padding-top: 3rem;
        padding-bottom: 2rem;
    }

    .contact-left {
        width: 90%;
    }

    .contact-us img {
        width: 71%;
        height: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .contact-right{
        width: 100%;
        height: 40%;
    }

    .contact-left img{
        height: 100%;
        width: 80%;
    }

    .contact-left{
        height: 40%;
    }

    .contact-right p {
        margin-bottom: 15px;
        font-size: 18px;
    }
}
